@media (max-width: 1270px) {

    .doing__content {
        width: 82%;
    }

    section.opinions {
        height: 58vw;
        .opinions__content {
            width: 82%;
        }
    }
    .opinions__content__row {
        width: 47%;
    }
    figcaption.opinions__content__row__author {
        padding: 3vw 0 .5rem 0;        
    }
    blockquote.opinions__content__row__text {
        p {
            font-size: 1.4vw;
        }
    }
    p.opinions__content__row__project-link {
        margin-top: 2.5vw;
        font-size: 1.2vw;
    }
    

    .blog__content {
        position: relative;
        .blog__content__image {
            position: absolute;
            width: 52.5rem;
            left: 0;
        }
        .blog__content__text {
            position: absolute;
            width: 52.5rem;
            right: 0;
        }
    }
    
    form.contact__content__form {
        width: 54%;
        input.contact__content__form__input--button__submit {
            width: 18rem;
        }
    }

}