@media (min-width: 1441px) {
    .about__content {
        width: 64%;
    }
    .projects__content {
        width: 64%;
    }
    .doing__content {
        width: 64%;
    }
    .opinions__content {
        width: 64%;
    }
    .blog__content {
        width: 64%;
    }
    .contact__content {
        width: 64%;
    }
}
@media (min-width: 1921px) {
    .about__content {
        width: 50%;
    }
    .projects__content {
        width: 50%;
    }
    .doing__content {
        width: 50%;
    }
    .opinions__content {
        width: 50%;
    }
    .blog__content {
        width: 50%;
    }
    .contact__content {
        width: 50%;
    }
}